body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    background-image: url('MW.jpg'); 
    background-size: cover;          
    background-position: center;     
    background-attachment: fixed;    
    background-repeat: no-repeat;    
    color: #333;                     
    margin: 0;
    padding: 0;
    height: 100vh;              
    text-shadow: 2px 2px 5px black;     
}

body::after {
    content: '';  
}

main {
    position: relative;
    z-index: 2;                      
    padding-top: 50px;                
    color: #fff;  
    text-shadow: 2px 2px 5px black;                   
}

.img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%; 
    margin: 20px auto; 
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.my-5 {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.display-4 {
    color: #fff !important;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.lead {
    font-size: 1.2rem;
    color: #fff !important;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    text-shadow: 2px 2px 5px black;
}

.nav-link {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1rem;
}

.nav-link:hover {
    color: #f0f0f0 !important;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer .container span {
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 5px black;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black;
}

a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.navbar, .navbar-nav {
    background-color: transparent !important;
}

.nav-link {
    color: #ffffff !important;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #f0f0f0 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: none;
    text-shadow: 1000px 1000px 5px black;
}

body, p, h1, h2, h3, h4, h5, h6, .lead, .display-4 {
    text-shadow: 2px 2px 5px black !important
}

#p_in_index {
    color: black;
    justify-content: center;
    font-size: x-large;
}
